body{

background:#ffdbe5;

font-family:Arial,sans-serif;

text-align:center;

margin:0;

padding:20px;
}

.container{

max-width:900px;

margin:auto;
}

#puzzle{

width:360px;

height:240px;

margin:30px auto;

background:white;

border-radius:10px;
}

.oculto{

display:none;
}

#mensagem{

background:white;

padding:20px;

border-radius:15px;

margin-top:20px;
}

button{

padding:12px 20px;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

margin:10px;
}
